<h1>User info</h1>
<h4>name</h4>
<%= @user.name %>
<h4>introduction</h4>
<%= @user.introduction %>

<p><%= link_to "マイページ", edit_user_path(@user.id) %></p>

<h1>New book</h1>

<%= form_with model: @book, local:true do |f| %>
  <h4>Title</h4>
  <%= f.text_field :title %>
  <h4>Body</h4>
  <%= f.text_area :body %>
  <p><%= f.submit "Create Book" %></p>
<% end %>

<h1>Books</h1>

 <h4>Title</h4>

 <h4>body</h4>
